html {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.gridContainer {
    width: 40vw;
    height: 40vw;
}
.grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-gap: 0px;
}

.square {
    border: 1px solid rgba(165, 164, 164, 0.5);
    background: rgba(255,255,255,0.01   );
}

